.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: 0.3s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #080808;
  display: block;
}

.sidenav a:hover {
  color: #202020;
}

.sidenav .header {
  margin-top: -10px;
  padding: 8px 0px;
}

.sidenav .closebtn {
  padding: 0px;
  line-height: 36px;
  font-size: 36px;
}

/* Section Title */
.sidenav .section-title {
  background-color: #3a3a3a;
  border-radius: 3px;
  padding: 2px 6px;
  margin: 20px 0px 6px 0px;
  font-size: 12px;
  color:rgb(245, 245, 245);
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
